@charset "utf-8";

/*웹뷰*/
.panel,.mcon03Search,.mMainCon04{display:none;}



/*모바일뷰*/
/*html에서 viewport 꼭연결해야함*/
@media screen and (max-width:768px){
    /*웹공통*/
    body{min-width:auto;}
    .inner{width:auto;}
    
    /*모바일에서 보임*/
    .panel,.mcon03Search,.mMainCon04{display:block;}
    
    /*모바일에서 안보임*/
    .gnb,.util,.mainCon02,.mainCon03>div p,.con03Search,.mainCon04,.con05List li p,.fLogo,.fInfo{display:none;}
    
    /*헤더*/
    #header{
        height:auto;
        margin:10px 20px;
    }
    #header h1{
        width:70px;
        height:28px;
        background-size:400px;
        background-position:0 0;
        position:static;/*포지션을 기본값(static)으로 되돌림,원래 가지는 margin도 생김*/
    }
    
    .panel{
        width:16px;
        height:16px;
        background:url(../images/sp_com.png) no-repeat -227px -98px;
        background-size:400px;
        text-indent:-9999px;
        position:absolute;
        right:0;
        top:50%;
        margin-top:-8px;
    }
    .panel a{
        display:block;
        height:100%;
    }
    
    /*메인슬라이더*/
    .mainImg01 .slick-slide{
        margin:0;
        height:auto;
    }
    .mainImg02 .slick-slide{
        margin:0;
        height:auto;
    }
    
    .mainTxt{
        padding:45% 0;
    }
    .mainTxt h2{font-size:14px;}
    .mainTxt p{font-size:11px;}
    
    .sliderBtn{
        width:13px;
        height:23px;
        background-size:400px;
        background-position:-64px -30px;
        margin-top:-11px;
    }
    .leftBtn{left:10px;}
    .rightBtn{
        background-position:-79px -30px;
        right:10px;
    }
    
    
    /*메인컨텐츠01*/
    .mainCon01{padding:20px 0;}
    .mainCon01 ul{
        display:block;/*인라인요소이기때문에 블락요소로 바꿔줌*/
        overflow:hidden;/*cf를 안줬기때문에 대신에 overflow줌*/
    }
    .mainCon01 li{
        width:33.33%;/*한줄에 아이콘이 3개가 있기때문*/
        font-size:14px;
        margin:0;
        padding:10px 0;
    }
    .mainCon01 li span{
        width:33px;
        height:33px;
        margin:0 auto;
        background-size:400px;
    }
    
    .con01Ico01{background-position:-1px -57px;}
    .con01Ico02{background-position:-37px -57px;}
    .con01Ico03{background-position:-74px -55px;}
    .con01Ico04{background-position:-109px -57px;}
    .con01Ico05{background-position:-145px -57px;}
    .con01Ico06{background-position:-181px -57px;}
    
    .mainCon01 li:hover span{
        background-position-y:-90px;
    }
    
    .mainCon03{
        padding-top:0;/*처음패딩탑값을 빼줄때*/
        padding:0 10px;
    }
    .mainCon03>div{
        width:calc(50% - 5px);
        height:auto;
        margin-right:10px;
        margin-bottom:10px;
        background-size:cover;
    }
    .mainCon03>div:nth-child(2n),.mainCon03>div:last-child{margin-right:0;}
    
    .mainCon03>div h3{
        padding:45% 0;/*내 기준5%로 잡고 위아래 45%*/
        font-size:15px;
    }
    
    .mainCon03 .con03Search h3{
        padding:45% 0;
    }
    
    .mcon03Search{
        background:#F2F0ED;
    }
    
    /*모바일메인컨텐츠04*/
    .mMainCon04{}
    .mMainCon04 dl{
        height:45px;
        line-height:45px;
        background:#f2f0ed;
        overflow:hidden;
        font-size:13px;
        margin:0 10px;
        margin-bottom:10px;
    }
    .mMainCon04 dt{
        width:20%;
        float:left;
        text-align:center;
        color:#2d5b79;
        font-weight:bold;
    }
    .mMainCon04 dd{
        width:75%;
        float:left;
    }
    .mMainCon04 dd a{
        display:block;
        width:100%;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
    }
    
    
    /*메인컨텐츠05*/
    .mainCon05{
        padding:20px 10px;
        padding-bottom:10px;
    }
    .con05List li{
        width:calc(50% - 5px);
        height:auto;
        margin-right:10px;
        margin-bottom:10px;
        background-size:100% 100%;/*가로100세로100,딱맞게 백그라운드이미지를 전체적으로 보일수있게하는것*/
    }
    .con05List li:nth-child(2n){margin-right:0;}
    .con05List li h3{
        padding:70% 0 20% 0;
        font-size:15px;
    }
    
    /*푸터*/
    .fMenu{
        width:100%;
        text-align:center;
        margin:5px 0;
    }
    .fMenu li{
        display:inline-block;
        float:none;/*중앙정렬로 만들기위해서 인라인요소로 바꿔야하므로 float속성 해제*/
        line-height:normal;
    }
    
    .wedFMenu li:last-child::after{display:none;}
    
    .csFamily{
        width:100%;
        text-align:center;
        margin-top:10px;
    }
    .csBox,.familyBox{
        float:none;
        display:inline-block;
        vertical-align:top;
    }
    .csBox{
        width:50%;
        box-sizing:border-box;
        
    }
    .csBox .num{font-size:13px;}
    
    .familyBox{
        width:30%;
        margin-left:5px;
    }
    
    .fBottom{
        padding:30px 0;
    }
    .fBottom p{
        margin:0;
    }
    
}

